/* animations */

/* for a more pleasing transition of disappearance of all barChartContainers on clearcharts button click */

@keyframes clearCharts {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  /* visual button press effect for clear charts button */
  
@keyframes pressInClearButton {
  0% {
    box-shadow: 15px 15px 20px gray;
  }

  90% {
    box-shadow: 1px 1px 1px grey;
    display: none;
  }

  100% {
    box-shadow: 15px 15px 20px gray;
    display: block;
  }
}
