body {
    margin: 0;
    padding:0;
  }

  * {
    box-sizing: border-box;
  }
  
  :root {/*CSS variables for element background, border, default boxShadow colors */
    --Page-backgroundColor: #cddeee;
    --Header-backgroundColor: #38598b;
    --Footer-backgroundColor: rgb(51, 66, 87);
    --Footer-textColor:  white;
    --ChartContent-linearGradientBackground: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#2ec3eb 51%,#d5ebfb 100%);
    --ChartContent-borderColor: black;
    --ChartContent-barChart-boxShadowColor: grey;
    --ChartContent-barChart--odd-backgroundColor: #9f4b7a;
    --ChartContent-barChart--even-backgroundColor: #aeddcd;
    --ChartContent-barChartContainer--is-baseChartColor: rgba(175,100,55,.4);
    --Configure-linearGradientBackground: linear-gradient(to left, #ebf1f6 0%,#abd3ee 20%,#2ec3eb 71%,#d5ebfb 100%);
    --Configure-selectBoxes-linearGradientBackground: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    --Configure-selectBoxes-backgroundColor: #f1dfd1;
    --Modal-backgroundColor: #28282b;
    --Page-boxShadowColor: black;
    --Header-flashMessageColor: orange;
    /* for text colors */
    --Page-textColor: white;
    --Header-textColor: beige;
    --Header-flashContainer-textColor: black;
    --Modal-textColor: white;
  }
    
  .App {
    width: 100vw;
    height: 100vh;
    padding: 0 10vw 0 10vw;
    background: var(--Page-backgroundColor);
    color:  var(--Page-textColor);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 5fr 40fr 1fr;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
  }
  
  .Header {
    background: var(--Header-backgroundColor);
    display:flex;
  }
  .Header > div {
    margin-left: 15em;
  }
  .Header > div > p {
    display: inline;
    margin-left: 1em;
    background:beige;
  }

  .Header {
    background: var(--Header-backgroundColor);
    align-items: stretch;
    padding: .3em;
    display: grid;
    grid-template-columns: 3fr 5fr;
  }
  
  .Header-title {
    font-weight: 400;
    font-size: 16px;
    color: var(--Header-textColor);
    text-transform: uppercase;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  
  .Header-flashContainer {
    color: var(--Header-flashContainer-textColor);
    text-shadow: 2px 3px 6px black;
    font-weight: bold;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border-radius: 7px;
    justify-items: center;
    align-items: center;
    font-size: 90%;
    background: var(--Header-flashMessageColor);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s ease-out, opacity 2s ease-out;
   
  }

   /* flash message when user tries to select more than the maximum allowable comparison currencies, a value which is configured by a constant in App.js */
  .Header-flashContainer.isDisplayed {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s linear;
    background: var(--Header-flashMessageColor);
      
  }

  .Header-flashMessage {
    margin: 0 !important;
    padding: 0 !important;
    background: var(--Header-flashMessageColor) !important;
  }

  .Footer {
    padding-left: .5em;
    background: var(--Footer-backgroundColor);
    display: flex;
    color: var(--Footer-textColor);
  }