.ChartContent-barChartContainer {
   position:relative;
    display: flex;
    /* text "selectability on" changes cursor to select cursor in UI on mouseover or drag.  set user-select to none so selectability is off, no cursor change when user drags or mouseover on chart text */
    user-select: none;
  }

  .ChartContent-chartsContainer { 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:100%;
    position:absolute;
    width:100%;
  }

  .ChartContent-barChartContainer.is-baseChart {
    background: var(--ChartContent-barChartContainer--is-baseChartColor);
  }

  /* clear all charts other than base currency chart when the --clearCharts class is added */

  .ChartContent--clearCharts .ChartContent-barChartContainer:not(.is-baseChart) {
    animation: clearCharts 2s normal forwards;
    animation-iteration-count: 1;
  }

  /* style ::after container which displays the "base currency" label for the chart which represents the base currency */
  .ChartContent-barChartContainer.is-baseChart::after {
    color:black;
    font-weight:bold;
    content: "BASE CURRENCY";
    text-orientation: vertical;
    position: absolute;
    top: 5em;
    left: 7%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    margin: 0 auto;
   }


  .ChartContent-barChartContainer:nth-of-type(even) .ChartContent-barChart {
    background: var(--ChartContent-barChart--even-backgroundColor);
    color: black;
  }
  
  .ChartContent-barChartContainer:nth-of-type(odd) .ChartContent-barChart {
    background: var(--ChartContent-barChart--odd-backgroundColor);
  }
  .ChartContent-barChartTitle {
    font-weight: bold;
    font-family: Arial;
  }
  
  .ChartContent-barChartTitle.u-offset {
    position: absolute;
    color: black;
  }
  
  .ChartContent-barChart {
    font-weight: 800;
    width: 7em;
    align-self: flex-end;
    border-radius: .5em .5em 0 0;
    border-color: var(--ChartContent-borderColor);
    border-style: solid;
    border-width: 9px 2px 0px 2px;
    box-shadow: 5px 1px 5px var(--ChartContent-barChart-boxShadowColor);
    /* barChart also a flex container, for controlling the positioning of its text */
    display: flex;
    padding-top: 5%;
    align-items: flex-start;
    justify-content: center;
   
  }
  

 @media only screen and (max-width: 950px) {


  .ChartContent-barChartContainer {/* charts are adjusted to be appropriately styled for re-orientation to horizontal charts on small screens, vs vertical on 950px+ screens */
    width: 100%;
    height: inherit;
    height: 5em;
  }

  .ChartContent-barChart {/* since ChartContent-barCharts have INLINE hardcoded styling of height in html for default vertical charts, use !important to change height for this class in css stylesheet *//* height: 60%;height: 5vh;
 */
    justify-self: flex-end;
    align-self: center;
    border-radius: 0 .3em .3em 0;
    border-width: 2px 7px 2px 0px;
    font-size: 95%;
    justify-content: flex-start;
    align-items: center;
    padding-left: .5em;
    padding-top: 0;
    height: 90%;
  }
 

  .ChartContent-barChartContainer.is-baseChart::after {
    content: "BASE CURRENCY";
    color:black;
    font-weight:bold;
    text-orientation: mixed;
    position: absolute;
    
    top: 35%;
    left: 35%;
    writing-mode: horizontal-tb;
   
    display: inline-block;
    margin: 0 auto;
    text-shadow:1px 1px 3px white;
  }
 }


 @media only screen and (max-width:  330px) {
  .ChartContent-barChart {
    align-items: center;
    font-size: .9em;
    padding-top: 9%;
    padding-bottom: 5%;
  }
}



/* for a more pleasing transition of disappearance of all barChartContainers on clearcharts button click */

@keyframes clearCharts {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }